<%= render "shared/header" %>

<div class='main'>
  <%# evett一覧 %>
  <div class='evett-contents'>
    <% @evetts.each do |evett| %>
      <div class='evett_content'>
        <div class='left_content'>
          <div class='evett_name'>
            <h2><%= evett.name %></h2>
          </div>
          <div class='evett_price'>
            <h2>/<%= evett.price %>円</h2>
          </div>
        </div>
        <div class='right_content'>
          <div class='evett_menu'>
            <h2>:</h2>
          </div>
          <div class='evett_payment_btn'>
            <h2>入金</h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%# /evett一覧 %>
  <%= link_to(new_evett_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>投稿する</span>
  <% end %>
</div>

<%= render "shared/footer" %>