<%= render "shared/header" %>

<div class='main'>
  <%# evett一覧 %>
  <div class='evett-contents' >
    <% @evetts.each do |evett| %>
      <% if evett.share_area_id == 3 && evett.user.id == current_user.id %>
        <div class='evett_content'>
          <div class='evett_area' >
            <div class='left_content'>
              <div class='evett_name'>
                <h2><%= evett.name %></h2>
              </div>
              <div class='evett_price'>
                <h2>/<%= evett.price %>円</h2>
              </div>
            </div>
            <div class='right_content'>
              <div class='evett_menus'>
                <h1 id="menu_btn">:</h1>
                <div class='evett_payment_btn'>
                  <h2>入金</h2>
                </div>
              </div>
            </div>
          </div>
            <ul class="evett_menu">
              <li>
                <%= link_to "編集", root_path %>
              </li>
              <li>
                <%= link_to "削除", root_path %>
              </li>
            </ul>
        </div>
        <% end %>
    <% end %>
  </div>
  <%# /evett一覧 %>
  <%= link_to(new_evett_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>投稿する</span>
  <% end %>
</div>

<%= render "shared/footer" %>