<%= render "shared/header" %>

<div class='main'>
  <%# evett一覧 %>
  <div class='evett-contents' >
      <div class='active-evett' id="all"><%= render partial: 'evett', collection: @evetts_all %></div>
      <div class='not-active-evett' id="friend"><%= render partial: 'evett', collection: @evetts_friend %></div>
      <div class='not-active-evett' id="user"><%= render partial: 'evett', collection: @evetts_only %></div>
  <%# /evett一覧 %>
    <%= link_to(new_evett_path, class: 'purchase-btn') do %>
      <span class='purchase-btn-text'>投稿する</span>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>