<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='header'>
  <div class='logo'>
    <%= link_to 'Evett', root_path %>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li class="list-name", id="active-tag">誰でも</li>
      <% if user_signed_in? %>
        <li class="list-name">友達</li>
        <li class="list-name"><%= current_user.nickname %></li>
      <% end %>
    </ul>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user), class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </ul>
  </div>
</header>