<div class='footer'>
  <div class='footer-contents'>
    <div class='evett-details'>
      <h2 class='footer-content-head'>EVETTについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'FURIMA利用規約', "#", class: "footer-link" %></li>
        <li><%= link_to 'ポイントに関する特約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='evett-details'>
      <h2 class='footer-content-head'>EVETTを見る</h2>
    </div>
    <div class='evett-details'>
      <h2 class='footer-content-head'>EVETTについて</h2>
      <ul>
        <li><%= link_to 'EVETTガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'EVETTロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© EVETT</p>
</div>